@media (max-width: 600px){
    body{
        background: white;
    }
    #banner{
        background-image: none;
    }
    .banner-headline{
        padding: 20px;
    }
    .banner-headline h1{
        font-size: 40px;
    }
    .banner-headline h2{
        color: #3aa5df;
        text-shadow: 1px 1px #c0e1f3;
        font-size: 17px;
    }
    .banner-options{
        height: auto;
        flex-direction: column;
    }

    .banner1{
        background-color: #29aaeb;
        color: rgb(0, 0, 0);
        
    }
    .banner2{
        background-color: #0b638ff3;
        color: rgb(0, 0, 0);
        
    }
    .banner3{
        background-color: #0195df;
        color: rgba(0, 0, 0, 0.808);
        
    }

    .container{
        flex-direction: column;
    }
    #geral section,
    aside{
        margin-top: 70px;
        padding: 50px;
    }

  .footer-menu{

      flex-direction: column;
  }
  .footer-area{
      padding: 20px;
      flex-direction: column;
  }

  header .container{
      flex-direction: row;
  }
  nav ul{
      
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #FFFFFF;
  }
  header{
      height: auto;
  }
  .logo{
      padding-left: 20px;
  }
  .menu-mobile{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
}