*{
    font-family: Arial;
}
body{
margin: 0;
padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
}
.mm-line{
    height: 5px;
    background-color: #29aaeb;
}

.menu{
display: flex;
align-items: center;
}
nav ul,
nav li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}

nav a{
display: block;
padding: 15px;
text-decoration: none;
text-transform: uppercase;
color: #727272;
font-family: Arial, Helvetica, sans-serif;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}

/*Banner*/

#banner{
    display: flex;
    justify-content: center;
    background-image: url(../img/photo-1514415008039-efa173293080.jfif);
    background-position: center;
    background-size: cover;
    height: 560px;
}

.column{
    flex-direction: column;
}

.banner-headline{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
}

.banner-headline h1{
    color: #3aa5df;
    font-size: 60px;
    text-shadow: 1px 1px rgb(214, 207, 207);
    margin: 0;
    padding: 0;
    width: 300px;
}

.banner-headline h2{
    color: #3aa5df;
    font-size: 25px;
    text-shadow: 1px 1px #94b8ca;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-top: 30px;
}
/*banners*/
.banner-options{
height: 235px;
display: flex;

}


.banner-options a:hover{
background-color: rgba(255, 255, 255, 0.479);
color: black;
}

.banner1,
.banner2,
.banner3{
    flex: 1;
    padding: 10px;
    
}

.banner1{
    background-color: #29aaeb96;
    color: white;
    
}
.banner2{
    background-color: #0b638f96;
    color: white;
    
}
.banner3{
    background-color: #0a435f96;
    color: rgba(255, 255, 255, 0.808);
    
}

.banner-title{
    font-size: 20px;
}

.banner-desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 15px;

    text-decoration: none;
}

.name1,
.name2,
.name3{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.name3{
    border-bottom: none;
}

.name4{
    display: block;
    
}
.name4 h4{
    align-items: center;
}

/*Terceira parte do layout*/
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

/*aside*/
.widget-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar{
    width: 50px;
    height: 3px;
    background-color: #3aa5df;
    margin-top: 10px;
    
}

/*aside img*/
.body-side img{
    padding: 20px;
    width: 70px;
}

.body-side img:hover{
    background-color: #3aa5dfa8;
    border-radius: 60%;
}

/*post*/
.flex{
    display: flex;
    flex-wrap: wrap;
    
}

article{
    min-width: 300px;
    flex: 1;
    margin-right: 20px;
}

article .news-data{
    display: flex;
}

article .news-posted-at{
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}

article .news-comments{
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;

}
article .news-thumbnail{
    margin-top: 30px;
}

article .news-thumbnail img{
    width: 100%;
    height:auto;
}

article .news-title{
    color: black;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}

article .news-resume{
    color: black;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
article .news-resume a{
    text-decoration: none;
    font-size: 13px;
}

/*footer*/

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer-menu{
    display: flex;
    flex: 1;
}

.fm-1,
.fm-2,
.fm-3{
flex: 1;
padding: 20px;
}
.fm-1{
    background-color: #29aaeb;
    color: white;
    
}
.fm-2{
    background-color: #0b638f;
    color: white;
    
}
.fm-3{
    background-color: #0a435f;
    color: rgba(255, 255, 255, 0.808);
    
}

.footer-area{
    display: flex;
   
}

.footer-area-item{
    flex: 1;
    color: white;
}

.flex-column{
    flex-direction: column;
}

footer .widget-title-text{
    color: white;
}

/*informations Urgent Care
footer*/
.adress {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.adress p{
    margin-right: 40px;
}
.number{
    margin-top: 50px;
    font-size: 10px;
} 
/*Fim informations Urgent Care
*/

/*Post info*/
.last-post{
    padding-right: 15px;
}
.last-post p{
    font-size: 13px;
}
.last-post a{
    text-decoration: none;
    color:#29aaeb ;
}
/*fim post*/

/*inicio tt*/
.last-tt{
    padding-left: 15px;
}

.last-tt p{
    font-size: 13px;
}
.last-tt a{
    text-decoration: none;
    color:#29aaeb ;
}
/*fim tt*/

.footer-copy{
    margin-top: 30px;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    display: flex;
    justify-content: center;
}